{% load static %}
<!DOCTYPE HTML>
<html>

<head>
  <title>DetallesZapatilla</title>
  <!--<meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />-->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/SportlockerShop">Sportlocker<span class="logo_colour">Shop</span></a></h1>
          <h2>La mejor tienda de deporte</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/SportlockerShop">Home</a></li>
          <li><a href="/SportlockerShop/ropa">Ropa</a></li>
          <li class="selected"><a href="/SportlockerShop/zapatillas">Zapatillas</a></li>
          <li><a href="/SportlockerShop/acceso/">Iniciar Sesion/Registrar</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div id="content">
        <div class="form_settings">
          <!-- insert the page content here -->
          <h2>{{zapatilla.nombre}}</h2>
          <p><b><big>{{zapatilla.descripcion}}</b></big></p>
          <p><b><big>{{zapatilla.precio}}€</b></big></p>
          <img src={{zapatilla.imagen}} alt="Imagen de zapatilla" width="200" height="200">
          <p>&nbsp;<input class="submit" type="submit" name="contact_submitted" value="Añadir al carrito"/></p>
          <br>
          <br>
          <p><span>Selecciona la talla</span></p>
          <select id="groups" name="groups">
            <option>38</option>
            <option>39</option>
            <option>40</option>
            <option>41</option>
            <option>42</option>
            <option>43</option>
            <option>44</option>
            <option>45</option>
          </select>
        </div>
      </div>
    </div>

    <div id="footer">
      Copyright &copy; SportlockerShop |
    </div>
  </div>
</body>

</html>