{% load static %}
<!DOCTYPE HTML>
<html lang="es">

<head>
  <title>Inicio</title>
  <meta charset=UTF-8>
  <!--<meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" /> -->
  <link rel="stylesheet" type="text/css" href="" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="localhost:8000/SportlockerShop/">Sportlocker<span class="logo_colour">Shop</span></a></h1>
          <h2>La mejor tienda de deporte.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="index.html">Home</a></li>
          <li><a href="ropa/">Ropa</a></li>
          <li><a href="zapatillas/">Zapatillas</a></li>
          <li><a href="registrar/">Iniciar Sesion/Registrar</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
     
      <div id="content">
        <!-- insert the page content here -->
        <h1>Bienvenidos a SportLockerShop</h1>
        <p>Tu tienda de deporte que cuenta con articulos de ropa y zapatillas para realizar diferentes deporte. Registrate y consigue un 10% de descuento en compras. 
        <h2>Articulos top venta</h2>
        <p>This template has been tested in the following browsers:</p>
        <ul>
          <li>Internet Explorer 8</li>
          <li>Internet Explorer 7</li>
          <li>FireFox 3.5</li>
          <li>Google Chrome 6</li>
        </ul>
      </div>
    </div>
    <div id="footer">
      Copyright &copy; SportLockerShop
      <ul>
        <li><img src="https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c53e.png" alt="logo de twitter" width="10%" ></li>
        <li><img src="https://w7.pngwing.com/pngs/623/523/png-transparent-instagram-logo-instagram-facebook-inc-youtube-organization-instagram.png" alt="logo de instagram" width="10%"></li>
      </ul>
    </div>
  </div>
</body>
</html>
